@page "/"

<h1>Welcome to first .NET application by Kirill</h1>

<p>It looks silly, I know...but I am getting there :)</p>

<p>Feel free to test my very first app written on .NET - TODO app</p>
<br>
<p>P.S TODO for TODO &#x1F600;</p>
<p>Create accout with autorization + Save data in DB</p>